<h3>メッセージ履歴</h3>
<% @conversations.each do |conversation| %>
  <div style="text-align: center;">
    <% if conversation.target_user(current_user).present? %>
      <%= link_to "#{conversation.target_user(current_user).name}さん", conversation_messages_path(conversation), style:"color: #364F6B;"%>
    <% end %>
  </div>
<% end %>
