<h4 class="title">フォロー</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10" style="margin-bottom: 20px;">
      <%= render 'users' %>
      <%= paginate @users %>
    </div>
    <div class="row"></div>
  </div>
</div>
