<h3>このアプリケーションは聴覚障害の方と手話通訳が可能な方が</h3>
<h3>ネット上でマッチングできることを目的としたものです</h3>
<h3><%= link_to "新規登録", new_user_path %></h3>
<h3>サンプルユーザーでもログインできます</h3>
<p>メールアドレス: sample@test.com</p>
<p>パスワード: password</p>
