// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-field {
  position: relative;
  margin-bottom: 30px;
}

.mesasge-create-area {
}

.message-show-area {
  word-break: break-all;
  word-wrap: break-word;
}


.message-right {
  float: right;
  border: 1px solid #808080;
  margin-bottom: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #D6E4F0;
  width: 50%
}

.message-left {
  float: left;
  border: 1px solid #808080;
  margin-bottom: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #F0F0F0;
  width: 50%;
}
