// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-entries-info {
  border-bottom: 2px solid #808080;
  padding-bottom: 20px;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.self-area {
  width: 30%;
  float: left;
  height: 450px;
  padding: 10px 10px;
}

.user-box1 {
  height: 100px;
}

.image-area {
  float: left;
}

.user-info {
  float: left;
  padding-left: 10px;
}

.post-info {
  float: left;
  padding-left: 20px;
}

.content-area {
  width: 65%;
  float: left;
  margin-left: 5%;
}

.post-content {
  border-bottom: 1px solid #808080;
  padding-top: 5px;
}


.post_show_area {
  height: 100%;
  width: 450px;
  border: 3px solid #808080;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px 20px;
  margin-bottom: 30px;
}
