// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-entries-info {
  border-bottom: 2px solid #808080;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.post-self-area {
  float: left;
  height: 100%;
  background-color: #fff;
  padding: 20px 20px;
}

.empty-box {
  float: left;
  height: 450px;
  padding: 10px 10px;
}

.empty-box h4 {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid #808080;
}

.user-box1 {
  height: 100px;
}

.image-area {
  float: left;
}

.posts-user-info {
  float: left;
  padding-left: 10px;
}

.post-info {
  float: left;
  padding-left: 20px;
}

.content-area {
  background-color: #fff;
  float: left;
}

.post-content {
  border-bottom: 1px solid #808080;
  padding: 10px 0;
  margin-bottom: 20px;
}


.post-show-area {
  font-size: 18px;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
}

.post-form {
  width: 400px;
  margin: auto;
}

.form-area p {
  margin-bottom: 10px;
}

.edit-destroy-button {
  padding-top: 70px;
  padding-right: 5px;
  float: right;
}
