// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page_entries_info {
  border-bottom: 2px solid #808080;
  padding-bottom: 20px;
}

.post_content {
  border-bottom: 1px solid #808080;
  margin-bottom: 30px;
  height: 100px;
  text-align: center;
}

.post_content p {
  display: inline;
}

.post_content li {
  font-size: 17px;
}

.post_show_area {
  height: 100%;
  width: 450px;
  border: 3px solid #808080;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px 20px;
  margin-bottom: 30px;
}

.post_btn_area {
  padding-left: 170px;
  padding-top: 20px;
}
