// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.signup-area {
  width: 50%;
  margin-left: 25%;
}

.interpreter-area, .user-area {
  padding: 10px 0;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #808080;
}

.experience-area {
  width: 50%;
  word-wrap: break-all;
}

.btn-area {
  padding-top: 30px;
}
