// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.interpreter-area, .user-area {
  float: left;
  padding: 20px 10px;
  margin: 20px 10px;
  width: 200px;
  height: 150px;
  border: 1px solid #808080;
  background-color: #fff;
}

.experience-area {
  float: left;
  word-wrap: break-all;
  margin-top: 10px;
}

.user-self-area {
  float: left;
  height: 100%;
  background-color: #fff;
  padding: 30px 20px;
}

.users-user-info {
  float: left;
  padding-left: 10px;
}

.users-user-info p {
  font-size: 15px;
}

.users-user-index {
  float: left;
  padding-left: 10px;
}

.users-user-index p {
  font-size: 13px;
}

.switching-btn {
  padding-top: 11px;
  float: left;
  margin-right: 30px;
}

.title {
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #808080;
}

.follow-count {
  float: left;
  margin-left: 15px;
}
