// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.interpreter-area {
  padding-top: 20px;
  width: 100%;
  border-bottom: 1px solid #808080;
}

.experience-area {
  width: 50%;
}

.btn-area {
  padding-top: 30px;
}
